.Rproj.user
.Rhistory
.RData
.DS_Store
inst/doc
inst/*.html
inst/*cache
inst/guide_to_growthcurveSL
inst/appfiles
src/*.o
README.html
tests/*.pdf
tests/RUnit/*.html
tests/RUnit/*.txt
tests/RUnit/*.pdf
*.sublime-project
*.sublime-workspace